@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

body{
    font-family: 'Roboto Condensed', sans-serif;
}
body img.fond{
    height: auto;
    width: 50%;
    position: fixed;
    left: 60%;
    top: 20%;
}
body img.phone{
    position: fixed;
    height: auto;
    width: 30%;
    right: 5%;
}
body a.login{
    font-style: normal;
    text-decoration: none;
    color: rgb(255, 255, 255);
    border-radius: 10px;
    background-color: rgb(0, 183, 255);
    padding: 10px;
    font-size: 30px;
    position: fixed;
    right: 30%;
    top: 3%;
}
body div a img{
    position: fixed;
    height: auto;
    width: 2%;
    left: 2%;
    top: 3%;
}
body div h1{
    position: fixed;
    height: auto;
    width: 10%;
    left: 5%;
    top: 1%;
}
form{
    position: fixed;
    margin-top: 10%;
    width: 30%;
    height: 35%;
    top: 35%;
    left: 10%;
}
#username{
    border: none;
    padding-bottom: 2%;
    margin-top: 10%;
    padding-left: 5%;
    padding-top: 2%;
    font-size: 200%;
    opacity: 50%;
    border-radius: 15px;
    background: #dbcfce;
}
#passwd{
    border: none;
    padding-left: 5%;
    padding-bottom: 2%;
    padding-top: 2%;
    font-size: 200%;
    opacity: 50%;
    margin-top: 3%;
    border-radius: 15px;
    background: #dbcfce;
}
#submit{
    width: 25%;
    margin-left: 0%;
    padding: 10px;
    font-size: 150%;
    margin-top: 2%;
    border: none;
    background-color: #bf00b4;
    color: white;
    border-radius: 15px;
}
body a.form{
    top: 85%;
    left: 10%;
    height: 5%;
    width: 20%;
    font-size: 20px;
    font-style: normal;
    text-decoration: none;
    position: fixed;
}
p.title{
    position: fixed;
    font-size: 90px;
    width: 30%;
    height: auto;
    top: 10%;
    left: 10%;
}
p.text{
    position: fixed;
    font-size: 30px;
    width: 40%;
    height: auto;
    top: 40%;
    left: 10%;
}
text{
    position: fixed;
    top: 54%;
    left: 10%;
    color: red;
    font-size: 20px;
}
